<h1>Lets play Rock, Paper, Scissors</h1>
<h2>Rules are simple:</h2>
<ol>
  <li>Rock can crush Scissors</li>
  <li>Paper can wrap Rock</li>
  <li>Scissors can cut Paper</li>
</ol>


<div action="game">
  <div class="container">
  <div class="row">

<div class="col-md-6" id="player1">
  <h1>Player 1</h1>
</div>

<div class="col-md-6" id="player2">
  <h1>Player 2</h1>
</div>

</div>
</div>
</div>
